<!doctype html>
<title>Neets Modules</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'style.css') }}">

<body>
<nav>
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/73/Rating_Badge_IC.jpg" alt="IC rating badge">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Study Resources</a>
           <ul>
                <li><a href="/bibs">Bibliography</a> </li>
                <li><a href="/volumes">IC Volumes</a> </li>
                <li><a href="/neets">Neets Modules</a> </li>
               <li><a href="/neets">PMK</a> </li>
            </ul>
        </li>
        <li><a href="#">Forum</a></li>
        <li><a href="#">About</a></li>

    </ul>
</nav>
<h3>Links</h3>
<ul>
    <li><a href="https://www.courses.netc.navy.mil/courses/14173A/14173A_ch1.pdf">NEETS MODULE 1- Matter, Energy, and Direct Current </a></li>
    <li><a href="https://www.courses.netc.navy.mil/courses/14174A/14174A_ch5.pdf">NEETS MODULE 2-Alternating Current and Transformers</a> </li>
    <li><a href="https://www.courses.netc.navy.mil/courses/14175A/14175A_ch3.pdf">NEETS MODULE 3-Introduction to Circuit Protection...</a> </li>
    <li><a href="https://maritime.org/doc/neets/mod04.pdf">NEETS MODULE 4-Electrical Conductors, Wiring...</a> </li>
    <li><a href="https://maritime.org/doc/neets/mod07.pdf" >NEETS MODULE 7-Solid State and Power Supplies</a></li>
    <li><a href="https://www.courses.netc.navy.mil/courses/14185A/14185A.pdf">NEETS MODULE 13-Introduction To Number Sys...</a> </li>
    <li><a href="https://maritime.org/doc/neets/mod15.pdf">NEETS MODULE 15-Principal of Synchros, Servos...</a> </li>
    <li><a href="https://www.courses.netc.navy.mil/courses/14188A/14188A.pdf">NEETS MODULE 16-Test Equipment</a> </li>
</ul>
</body>