<!doctype html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'style.css') }}">
<body>
<nav>
    <img src="https://upload.wikimedia.org/wikipedia/commons/7/73/Rating_Badge_IC.jpg" alt="IC rating badge">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Study Resources</a>
           <ul>
                <li><a href="/bibs">Bibliography</a> </li>
                <li><a href="/volumes">IC Volumes</a> </li>
                <li><a href="/neets">Neets Modules</a> </li>
               <li><a href="/neets">PMK</a> </li>
            </ul>
        </li>
        <li><a href="#">Forum</a></li>
        <li><a href="#">About</a></li>

    </ul>
</nav>
<h3>Links</h3>

<ul>
    <li><a href="https://www.courses.netc.navy.mil/courses/14120A/14120A.pdf">Interior Communications Electrician, Volume 1</a> </li>
    <li><a href="https://www.courses.netc.navy.mil/courses/14121A/14121A.pdf">Interior Communications Electrician, Volume 2</a> </li>
    <li><a href="https://www.courses.netc.navy.mil/courses/14122/14122.pdf">Interior Communications Electrician, Volume 3</a> </li>
</ul>
</body>

